@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700&display=swap');

*,*::before{
	margin: 6px;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background-color: #101033;
}

.container {
	max-width: 60rem;
	margin-inline: auto;
	padding: 3rem 15px;
}
.faq__header-title {
	font-size: clamp(30px, 6vw, 45px);
	color: #fff;
	margin-bottom: 30px;
}
.faq__panel {
	padding: 10px 30px;
	margin-bottom: 20px;
	border: 1.5px solid #fff;
	border-radius: 15px;
}
.faq__label {
	color: #fff;
	cursor: pointer;
	font-size: 17px;
}
.faq__label:hover {
	color: #259df8;
}
.faq__panel-answer {
	color: #d3d5db;
	padding-top: 5px;
	padding-bottom: 5px;
}